<div class="bg_image">
  <div class="bg_fff">
    <div class="wrapper">
      <h2 class="page__title">'<%= @tag.tag_name %>' 一覧</h2>
        <div class="itemList__container">
          <% if @tag.present? %>
            <% @items.each do |item| %>
              <%= render partial: "item", locals: { item: item } %>
            <% end %>
            <%= paginate @items %>
          <% else %>
          <p>該当するアイテムはありません。</p>
          <% end %>
        </div>
    </div>
  </div>
</div>