<div class="bg_image">
  <div class="bg_fff">
    <div class="wrapper">
      <h2 class="title flex flex_center">検索結果</h2>
        <div class="flex flex_wrap">
          <% if @search_results.present? %>
            <% @search_results.each do |item| %>
              <%= render partial: "item", locals: { item: item } %>
            <% end %>
            <%= paginate @search_results %>
          <% else %>
          <p>該当するアイテムはありません。</p>
          <% end %>
        </div>
    </div>
  </div>
</div>