body {
  height: 100vh;
  background-color: #fff;
  color: #444;
  font-family: 'Quicksand','M PLUS Rounded 1c', sans-serif;
}

/* z-index */
body { position: relative; z-index: 0; }
header { position: relative; z-index: 2; }
footer { position: relative; z-index: 1; }
.new_create { position: relative; z-index: 3; }

.btn {
  padding: 5px 10px;
  border: 1px #fff solid;
  border-radius: 5px;
  background: rgba(255, 255, 255, .2);
}
.btn:hover,
.btn:active {
  background: rgba(255, 255, 255, 0);
  transition: 0.5s ;
}

/* button */
.item_btn {
  text-align: center;
}

.item_btn a,
.item_btn input {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin: .2rem auto;
  padding: .5rem 2rem;
  border: 1px #EE718B solid;
  color: #EE718B;
  background-color: #fff;
  border-radius: 100px;
}

.item_btn input:hover,
.item_btn input:active,
.item_btn a:hover,
.item_btn a:active {
  color: #fff;
  background-color: #EE718B;
  transition: 0.5s;
}

.item_btn span {
  vertical-align: middle;
}

.btn_row .item_btn {
  width: auto;
}

.btn_row .item_btn:nth-child(1),
.btn_row .item_btn:nth-child(2) {
  margin-right: .5rem;
}

.sp_nav_btn {
  text-align: center;
}

.sp_nav_btn input {
  padding: 5px 10px;
    background-color: #EE718B;
    color: #fff;
    border-radius: 100px;
    margin: 15px 0 0 0;
}

/* image */
.list_image_box {
  width: 25vw;
  height: 25vw;
  margin: 0 auto 1rem;
  overflow: hidden;
  border-radius: 5px;
}
.list_image_box a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list_image_box img {
  max-width:100%;
  height:auto;
  object-fit: contain;
  border-radius: 5px;
}

.details_image_box {
  /*width: 50vw;
  height: 50vw;*/
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details_image_box img {
  max-width:100%;
  height:auto;
  object-fit: contain;
}

.gradient { background: linear-gradient(90deg, rgba(251, 78, 78, 1), rgba(211, 184, 255, 1)); }

/* flex */
.flex { display: flex; }
.flex_center { align-items: center; }
.flex_column { justify-content: center; flex-direction: column; }
.flex_row { display: flex; flex-flow: row; }
.flex_end { justify-content: end; }
.flex_wrap { flex-wrap: wrap; }

.title { font-size: 2rem; font-weight: 300;  margin-bottom: 3rem; }
.title span { font-size: 2.2rem; margin-right: 5px; }

.wrapper {
  width: 1024px;
  margin: 50px auto 100px;
}

.container {
  width: 500px;
  margin: 0 auto;
}

/* header */
header, footer, header a { color: #fff; }
header .wrapper { justify-content: space-between;}

#sp { display: none; }

.nav_grid {
  width: 100vw;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 70px;
}
.nav_grid > h1 { margin: 0 15px; }
.nav_grid > div > div { margin: 0 15px 0 0; }

.search_input {
  width: 150px;
  height: 36px;
  background-color: #fff;
  border-radius: 18px;
  padding-left: 1rem;
  margin-right: 5px;
}

header .user_login {
  text-align: right;
}
header .user_login h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

header .logout {
  display: inline-block;
}
  header .logout span, header .logout a {
    font-size: 1rem;
    vertical-align: middle;
  }

header .new_create {
  width: 100px;
  height: 100px;
  position: fixed;
  right: 1vw;
  bottom: 40px;
  border-radius: 50px;
}

header .new_create .material-symbols-rounded { font-size: 2.4rem;}
header .sign_in_log_in a:nth-child(1) { margin-right: 15px; }

header .new_create:hover,
header .new_create:active {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  color: #EE718B;
  border: 1px #EE718B solid;
  transition: 0.5s ;
}

/* footer */
footer {
  position: sticky;
  top: 100vh;
  width: 100%;
  text-align: center;
  padding: 5px;
}

/* form */
.form {
  width: 300px;
  font-size: 18px;
}

.form form {
  margin: 0 auto;
}

.form .field {
  margin-bottom: 1.5rem;
}

#user_nickname, 
#user_email, 
#user_password,
#item_tag_name,
#item_tag_tag_name,
#item_tag_product,
#item_tag_release,
#item_tag_route,
#item_tag_,
#item_tag_get_date,
.form select,
.form textarea {
  width: 100%;
  border: 1px #aaa solid;
  padding: 10px 20px;
  margin: .2rem 0 0 0;
}

#user_nickname, 
#user_email, 
#user_password,
#item_tag_name,
#item_tag_tag_name,
#item_tag_product,
#item_tag_release,
#item_tag_route,
#item_tag_,
#item_tag_get_date { border-radius: 100px; }

.form select,
.form textarea { border-radius: 5px; }

.form .form_input:focus { box-shadow: 0 0 0 2px rgb(251, 78, 78);}

/* image upload btn 
input#item-image { display: none; }
.image-field label {
  display: inline-block;
  padding: 5px;
  color: #EE718B;
  border: 1px #EE718B solid;
  border-radius: 5px;
}
  .image-field label span { vertical-align: middle; }
  .image-field label:hover,
  .image-field label:active { background-color: #EE718B; color: #fff; transition: 0.5s; }
*/
/* image preview
.preview { width: 100px; height: 100px; overflow: hidden; }
.preview-image { width:100%; height:auto; object-fit: contain; }
 */

/* item */
.list_column {
  width: calc((100% - 50px)/3);
  margin: 0 auto 25px;
  padding: 1rem;
  background-color: rgb(251, 247, 255);
  border-radius: 5px;
}

.item_title {
  display: block;
  font-size: 1.2rem;
  margin-bottom: .2rem;
}
a.item_title  {
  color: #EE718B;
}

.tag_list {
  font-size: 0.8rem;
}

.tag_list a {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: .2rem;
  border-radius: 100px;
  background-color: #EE718B;
  color: #fff;
}

/* details table */
.dl_table {
  width: 100%;
  margin-bottom: 2rem;
}
.dl_table dt,
.dl_table dd {
  padding: 1rem .5rem;
}
.dl_table dt { 
  width: 150px;
  text-align: center;
  border-bottom: 1px rgb(251, 78, 78) solid;
}
.dl_table dd { 
  width: calc(100% - 150px);
  border-bottom: 1px rgb(211, 184, 255) solid;
}


@media (max-width: 959px) {
  #pc { display: none; }
  #sp { display: block; }

  .wrapper {
    width: 80vw;
  }
  .list_column {
    width: calc((100% - 50px)/2);
  }
  .hamburger span.material-symbols-rounded {
    font-size: 50px;
    cursor: pointer;
    position: absolute;
	  top: 10px;
	  right: 15px;
  }
    .menu_open {
      opacity: 1;
    }
      .menu_open.active {
        opacity: 0;
      }
    .menu_close {
      opacity: 0;
    }
      .menu_close.active {
        opacity: 1;
      }

  .sp_nav {
    width: 300px;
    position: absolute;
    top: 70px;
    right: 0;
    /*right: -500px;*/
      display: none;
    background-color: rgba(251, 220, 220, .9);
    color: #EE718B;
    transition: 0.5s;
    }
    .sp_nav a {
      color: #EE718B;
    }
    .sp_nav.active {
      /*right: 0;*/
      display: block;
    }
  .sp_nav li {
    font-size: 1.4rem;
    display: block;
    padding: 10px 15px;
    border-bottom: 1px #EE718B solid;
  }
  .sp_nav li:last-child {
    border-bottom: none;
  }
  .search_input{
    width: 100%;
  }
  /* image size */
  .list_image_box {
    width: 33vw;
    height: 33vw;
  }
}


@media (max-width: 519px) {
  .wrapper {
    width: 90vw;
    padding-bottom: 50px;
  }
  .list_column {
    width: 100%
  }

  /* image size */
  .list_image_box {
    width: 80vw;
    height: 80vw;
  }
}
