/* 配色
rgba(251, 78, 78, 1) main color メイン
rgba(211, 184, 255, 1) sus color サブ
*/

/* グラデーション  *********************/
.gradient3color { 
  background: linear-gradient(120deg, 
  rgba(178, 111, 245, 1), 
  rgba(243, 168, 195, 1), 
  rgba(124, 201, 224, 1)); 
}
.gradient2color {
  background: linear-gradient(120deg, 
  rgba(178, 111, 245, 0.6), 
  rgba(124, 201, 224, 0.6)); 
}

/* foundation *****************/
body {
  position: relative;
  z-index: 0;
  height: 100vh;
  background-color: #fff;
  color: #444;
  font-family: 'Quicksand','M PLUS Rounded 1c', sans-serif;
}
header, footer, header a { color: #fff; }
.bg_image {
  background-image: url('pettern.png');
  /*background-size: cover;*/
  background-repeat: repeat;
  background-position: top center;
  background-attachment: fixed;
  width: 100vw;
}
.bg_fff { /* 背景画像濃度調整用 */
  background-color: rgba(255, 255, 255, 0.7);
}

/* layout *********************/
#sp { display: none; }

.header__grid { /* スマホ版ヘッダーはhamburgerに記述 */
  position: relative;
  z-index: 2;
  width: 100vw;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 70px;
}
.header__main-title { /* grid left */
  display: flex;
  align-items: center;
  font-size: 2.2rem; 
  font-weight: 300;  
  margin:0 15px;
}
  .header__logo--size {
    width: 200px;
  }
  .header__main-title .material-symbols-rounded {
    font-size: 3rem !important;
  }
.header__grid--right { /* grid right */
  display: flex;
  flex-flow: row;
  justify-content: end;
}
  .header__menu {
    display: flex;
    align-items: center;
    margin: 0 15px 0 0;
  }
    .header__menu_login {
      flex-direction: row;
      text-align: right;
    }
    .header__menu_login a:nth-child(1) {
      margin-right: .6rem;
    }
    .header__menu_logout {
      flex-direction: column;
      justify-content: center;
      align-items: end;
    }
    .header__message {
      font-size: 1.2rem;
      margin-bottom: 5px;
    }
    .header__form--search {
      display: flex;
      align-items: center;
    }
    .header__search-input {
      width: 100%;
      height: 36px;
      background-color: #fff;
      border-radius: 18px;
      padding-left: 1rem;
      margin-right: 5px;
    }
      .__item-registration { /* 登録ボタン */
        position: fixed; 
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100px;
        height: 100px;
        color: #fff;
        right: 1vw;
        bottom: 40px;
        border-radius: 50px;
      }
      .__item-registration .material-symbols-rounded { font-size: 2.4rem;}
      .__item-registration:hover,
      .__item-registration:active {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
        color: rgba(178, 111, 245, 1);
        border: 1px rgba(178, 111, 245, 1) solid;
        transition: 0.5s ;
      }

.wrapper {
  margin: 0 auto;
  padding: 50px 0px 100px;
}
  .wrapper__form {
    max-width: 500px;
  }
.container {
  width: 500px;
  margin: 0 auto;
}
.page__title { /* 各ページのタイトル */
  display: flex;
  align-items: center;
  font-size: 2.2rem; 
  font-weight: 300;  
  margin:0 15px 3rem;
}
.footer {
  position: sticky;
  z-index: 1; 
  top: 100vh;
  width: 100vw;
  height: 30px;
  text-align: center;
  padding: 5px;
}
  @media (max-width: 959px) {
    #pc { display: none; }
    #sp { display: grid; }
    .header__grid {
      position: fixed;
      grid-template-columns: 70% 30%;
    }
    .wrapper {
      width: 80vw;
      padding: 100px 0px 30px;
    }
  }
  @media (max-width: 519px) {
    .wrapper {
      width: 90vw;
    }
    .container {
      width: 90vw;
    }
  }

/* ▼一覧表示 *********************/
.main__item-list {
  width: calc((100% - 50px)/3);
  margin: 0 auto 25px;
  padding: 1rem;
  background-color: rgb(251, 247, 255);
  border-radius: 5px;
}
.itemList__container {
  width: 80vw;
  /*max-width: 1000px;*/
  margin: 0 auto;
  display: flex;
  flex-wrap:wrap;
  justify-content: start;
}
.itemList__name {
  display: block;
  font-size: 1.2rem;
  margin-bottom: .2rem;
  color: rgba(178, 111, 245, 1);
}
  @media (max-width: 959px) {
    .main__item-list {
      width: calc((100% - 50px)/2);
    }
  }
  @media (max-width: 519px) {
    .main__item-list {
      width: 100%
    }
  }
/* ▲一覧表示 *********************/

/* ▼詳細 *********************/
.details__table {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2rem;
}
.table__header {
  width: 150px;
  text-align: center;
  border-bottom: 1px rgba(178, 111, 245, 1) solid;
  padding: 1rem .5rem;
}
.table__data {
  width: calc(100% - 150px);
  border-bottom: 1px rgba(124, 201, 224, 1) solid;
  padding: 1rem .5rem;
}
@media (max-width: 519px) {
  .details__table {
    display: block;
  }
  .table__header {
    width: 100%;
    padding: 0.5rem;
    text-align: left;
    border-bottom: none;
    color: rgba(178, 111, 245, 1);
  }
  .table__data {
    width: 100%;
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px rgba(178, 111, 245, 1) solid;
  }
}
/* ▲詳細 *********************/

/* ▼フォーム *********************/
.container__formWrapper {
  width: 300px;
  font-size: 18px;
}
#item_form {
  margin: 0 auto;
}
.form__field {
  margin-bottom: 1.5rem;
}
.form__input {
  width: 100%;
  border: 1px #aaa solid;
  padding: 10px 20px;
  margin: .2rem 0 0 0;
}
.form__input--round { border-radius: 100px; }
.form__input--square { border-radius: 5px; }

.form .form_input:focus { box-shadow: 0 0 0 2px rgba(178, 111, 245, 1);}
/* ▲フォーム *********************/

/* ▼ボタン *********************/
.button { /* 共通 */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center
}
.header__button { /* ヘッダー用ボタン */
  padding: 0.2rem 0.6rem;
  border: 1px #fff solid;
  border-radius: 5px;
  background: rgba(255, 255, 255, .2);
}
.header__button:hover,
.header__button:active {
  background: rgba(255, 255, 255, 0);
}

.main__button a, /* メインコンテンツ用ボタン 直接指定できない */
.main__button input {
  display: block;
  max-width: 300px;
  line-height: 28px;
  margin: .2rem;
  padding: 0px .6rem;
  border: 1px rgba(178, 111, 245, 1) solid;
  background-color: rgba(178, 111, 245, 1);
  color: #fff;
  border-radius: 100px;
}
.main__button a:hover,
.main__button input:hover,
.main__button a:active,
.main__button input:active {
  background-color: #fff;
  color: rgba(178, 111, 245, 1);
  transition: 0.5s;
}
.main__button--name { /* link_to内のspan */
  vertical-align: middle;
}
.header__menu--small { /* logoutの字を小さくする アイコンに効かないのでimportant */
  font-size: .8rem !important;
}
  .button__logout {
    line-height: .7rem;
  }
.main__button--row:nth-child(1) {
  margin-right: 0;
}
@media (max-width: 519px) {
  .main__button a,*/
  .main__button input {
    padding: .2rem .6rem;
  }
}
  /* ▲ボタン *********************/

/* ▼画像 *********************/
.box__images--list { /* 一覧の画像 */
  width: 22vw;
  height: 22vw;
  margin: 0 auto;
  overflow: hidden;
}
.box__images--list a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box__images--detail { /* 詳細の画像 */
  width: 80vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.box__images {
  display: flex;
}
.__image--main {
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 90vw;
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto 1rem;
  overflow: hidden;
}
.__image--thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.__image--thumbnail {
  width: 20%;
  padding-right: 5px;
}
.__image--thumbnail:last-child {
  padding-right: 0;
}
  .box__image {
  max-width:100%;
  max-height:100%;
  object-fit: contain;
  border-radius: 5px;
}
@media (max-width: 959px) {
  .box__images--list { /* 一覧の画像 */
    width: 30vw;
    height: 30vw;
  }
}
@media (max-width: 519px) {
  .box__images--list {
    width: 70vw;
    height: 70vw;
  }
}
/* ▲画像 *********************/

/* ▼タグ *********************/
.item__tag-list {
  font-size: 0.8rem;
}
.item__tag-list a {
  display: inline-block;
  padding: .2rem .6rem;
  margin-bottom: .2rem;
  border-radius: 100px;
  background-color: rgba(178, 111, 245, 1);
  color: #fff;
}
/* ▲タグ *********************/

/* ▼未ログイン画面 *********************/
.top-page--not-login {
width: 100vw;
height: calc(100vh - 100px);
text-align: center;
overflow: hidden;
}
.top-page__box {
  padding-top: 50px;
}
.top-page__catch {
  width: 90vw;
}
.top-page__catch--main {
  max-width: 500px;
}
.top-page__catch--sub {
  display: inline-block;
  width: 30%;
}
.box__catch-sub {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.top-page-not-login__button--sign-up {
  display: block;
  max-width: 300px;
  font-size: 2rem;
  margin: 0 auto;
  border: 1px rgba(178, 111, 245, 1) solid;
  background-color: rgba(178, 111, 245, 1);
  color: #fff;
  border-radius: 100px;
}
.top-page-not-login__button--sign-up a {
  line-height: 4rem;
}
.top-page-not-login__button--sign-up .material-symbols-rounded {
  font-size: 2rem !important;
}
@media (max-width: 959px) {
  .sp_hidden {display: none;}
  .top-page__box {
    padding-top: 50px;
  }
  .top-page--not-login {
    height: calc(100vh - 30px);
    padding: 100px 0px 0px 0px;
  }
}
@media (max-width: 519px) {
  .top-page--not-login {
    height: auto;
  }
  .box__catch-sub {
    display: block;
    max-width: 80%;
  }
  .top-page-not-login__button--sign-up {
    max-width: 300px;
    font-size: 2rem;
  }
  .top-page-not-login__button--sign-up .material-symbols-rounded {
    font-size: 2rem !important;
  }
  .top-page__catch--sub {
    width: 55%;
    margin-bottom: 25px;
  }
}
/* ▼未ログイン画面 *********************/